.uvod-nadpis {
    color: green;
    text-align: center;
    font-size: 25px;
    margin-top: 20px;
    font-weight: bold;
}

.hlavni-nadpis {
    color: green;
    font-size: 30px;
    margin-left: 30px;
    font-weight: bold;
}

.navigace:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

ul.vzorce {
    list-style: none;
    padding-left: 0;
}
